
@{
    ViewBag.Title = "Amministratore";
}

<div class="homepage">
    <a class="btn">
        <i class="fas fa-chalkboard-teacher"></i>
        Inserisci Insegnante
    </a>
    <a class="btn" href="@Url.Action("CreateCustomer")">
        <i class="fas fa-user"></i>
        Inserisci Cliente
    </a>


    <a class="btn" href="@Url.Action("CustomersList")">
        <i class="fas fa-users">
        </i>
        Lista clienti
    </a>

    <a class="btn" href="@Url.Action("WeightRoom")">
        <i class="fas fa-users">
        </i>
        Sala Pesi
    </a>

    <a class="btn" href="@Url.Action("")">
        <i class="fas fa-chalkboard"></i>
        Corsi
    </a>
</div>

